* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  max-width: 1199px;
  margin: auto;
}

.header__content {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}

.header__content span {
  display: inline-block;
}
nav {
  display: flex;
  align-items: center;
}

.header__content li {
  animation: animate__bounceInDown;
  animation-duration: 3s;
  animation-delay: 3s;
  text-decoration: none;
}
nav ul {
  display: flex;
  margin-right: 30px;
  list-style: none;
}
/* magic here */

.header__content li:hover a {
  color: #f55f8d;
}

.header__content li:hover span {
  animation: upToDown 0.3s forwards;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

/* magic end */
.header__content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
  padding: 55px 15px;
}
.header__content li {
  text-decoration: none;
}

.header__content a {
  text-decoration: none;
}
.btn__rainbow {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f6d 0,
    #f8ae54 51%,
    #f68076 69%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.4s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
}

.btn__rainbow:hover {
  background-position: right center;
}
/* end header */

/* star carousel */

.carousel {
  padding-top: 40px;
  overflow: hidden;
  background-image: url(./Samarimg/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel__container {
  max-width: 1199px;
  margin: auto;
}
.carousel__content {
  display: flex;
  align-items: center;
}

.left__carousel {
  width: 60%;
}
.article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.headline p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.headline h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.right__carousel {
  width: 40%;
}
/* end carousel */

/* star services */
.services {
  padding-bottom: 0;
  background-image: url(./Samarimg/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 120px;
}
.services .container {
  max-width: 1199px;
  margin: auto;
}
.services .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;
}
.services__item {
  border-radius: 1rem;
  transform: translateY(0);
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: all 0.5s;
  padding: 40px;
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item img {
  width: 225px;
}

.services__item h3 {
  font-weight: 700;
  font-size: 2rem;
  color: #262626;
  margin: 15px 0;
}
/* end service */

/* star about */
.about {
  padding: 150px;
  background-image: url(./Samarimg/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
container {
  max-width: 1199px;
  margin: auto;
}
.about .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about__left {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInLeft;
  width: 60%;
  position: absolute;
  left: -17%;
}
.about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.about__right {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInRight;
  width: 55%;
}
.about__right h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.about__right .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.about__right p {
  margin-bottom: 15px;
}
.about__right li {
  list-style: none;
  padding: 05px;
}
.about__right i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 17px;
  color: #f55f8d;
  border-radius: 35px;
  font-weight: 900;
  background: white;
  background-size: 200%;
  margin-right: 10px;
  border: #f55f8d solid;
  text-align: center;
}
/* end about */
/* start counter */
.number {
  background-image: url(./Samarimg/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}
.number__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.number__content .number__item i {
  font-size: 45px;
  color: #fff;
  display: inline-block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-bottom: 15px;
}
.number__content .number__item {
  width: 25%;
}
.number__content .number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__content .number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
